<div class="card">
  <div class="card-header">
    Featured
  </div>
  <form #f="ngForm" (ngSubmit)="addComment(f.value)">
  <div class="card-body">
    <input type="text" ngModel name="name">
   <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Ajouter</button>

  </div>
</form>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">reference</th>
          <th scope="col">status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ele of collections">
          <th scope="row">{{ele.id}}</th>
          <td>{{ele.name}}</td>
          <td>{{ele.reference}}</td>
          <td>{{ele.state}}</td>
        </tr>
      </tbody>
    </table>
</div>
