


  <div class="card">
      <div class="card-header">
        Featured
      </div>
      <form novalidate class="form"  [formGroup]="form" (ngSubmit)="process()">
          <div class="form-group">
            <input type="text" class="form-control"  formControlName="nom">
             <div class="alert alert-danger" *ngIf="isErrosLinght('nom')">doit avoir au mois 5 caractère</div>
             <div class="alert alert-danger" *ngIf="isErrosVide('nom')">nom est vid</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control"  formControlName="ref">
                <div class="alert alert-danger" *ngIf="isErros('ref')">ref invalid</div>
                </div>
            <div class="form-group">
              <select class="form-control" formControlName="state">
                  <option *ngFor="let libelle of stateLebele" ngValue="libelle>">{{libelle}}</option>
                </select>
          </div>

          <div class="form-group">
            <button [disabled]="form.invalid"  type="submit" class="btn btn-primary">Valider</button>
          </div>

        </form>
    </div>

